body {
    background-color: rgb(98, 102, 124);
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 43%;
    margin-right: 43%;
}

.login-center {
    background-color: rgb(143, 146, 165);
    border-radius: 2%;
    padding: 3%;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.linha {
    background-color: rgb(221, 221, 0);
    border-radius: 10px;
    padding: 0%;
    height: 10px;
    margin-left: 25%;
    margin-right: 25%;
}